.heading {
		position: relative;
		top: 20px;
		color: blue;
	}
body {
		background-color: #D5F5E3;
		font-family:"Times New Roman";
	}
input[type=text] { 
		font-size: 14px; 
		font-weight: bold;
	}
input[type=textarea] { 
		font-size: 14px; 
		font-weight: bold;
	}
input[type=number] {
    font-size: 14px; 
	font-weight: bold;
	}